@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;700;900&family=Mulish:wght@400;700;900&display=swap');

/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	background: linear-gradient(45deg, hsl(256, 28%, 86%), #200b30);
	font-family: 'Inknut Antiqua', serif;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

.image-container:hover{
    cursor: pointer;
}

.navbar {
    background-color: #343a40;
}
/* Main CSS */
.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid-wrapper .wide {
	grid-column: span 2;
}
.grid-wrapper .tall {
	grid-row: span 2;
}
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}

@media (max-width: 992px) {
    .modal-lg {
        max-width: 700px;
    }
}

@media (max-width: 740px) {
    .modal-lg {
        max-width: 600px;
    }
}
