@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;700;900&family=Mulish:wght@400;700;900&display=swap');

*{
  font-family: 'Inknut Antiqua', serif;
}

body{
  position: relative;
  background-image: url('../assets/images/background-sky.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

body::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(78, 78, 78, 0.3);
  z-index: -1;
}

.home{
  background-image: url('../assets/images/hf1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.home::before {
  content: "";
  background-color: rgba(98, 158, 173, 0.164);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.quote-section {
  background: rgba(107, 113, 119, 0.342);
  padding: 50px 0;
}

/* Centered quote text */
.quote-text {
  font-size: 24px;
  margin: 0 auto; /* Center the text horizontally */
  max-width: 800px; /* Limit the maximum width of the quote text */
}

/* hero section  */

.hero-text{
  color: transparent;
}
.carousel-inner img {
  max-width: 700px; /* Set the maximum width to 700px */
  width: 100%;
  display: block; /* Ensures the image is a block-level element for centering */
  margin: 0 auto; /* Center the image horizontally */
}

.carousel-indicators li {
  color: transparent/* Hide the number text */
}

.carousel-indicators {
  bottom: -20px;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* Adjust the last value for the opacity of the overlay */
  z-index: 0;
}

.carousel-item h3{
  z-index: 2;
}

/* featured blog posts  */

.featured{
  border-bottom: 1px solid rgba(109, 114, 114, 0.486);
}

.featured .row .one{
  height: 300px;
  position: relative;
}


.featured .row .one img{
  width: 100%;
  height: 100%;
  background-size: cover;
  box-sizing: border-box;
  object-fit: cover;
}

.featured .row .one .text{
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}

.featured .row .one .text p{
  letter-spacing: 0.2rem;
  line-height: 2px;
}

.featured .row .one .text a{
  text-decoration: none;
  border-style: none;
  color: #fff;
  font-size: 0.9rem;
}

.featured .row .one .text a::after{
  content: "";
  display: block;
  width: 30%;
  height: 2px;
  background: #2ecc71;
}


/* about us section  */

#about {
  position: relative;
}

.blockabout {
  padding: 20px;
  background: white;
}

.blockabout-inner {
  padding: 30px;
  border: 1px solid rgba(32, 33, 36, 0.1);
}

.sosmed-horizontal a i {
  border: 1px solid #00b8b87c;
  border-radius: 50%;
  color: #070707;
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  margin: auto 3px;
  font-size: 15px;
  text-align: center;
  transition: all 0.3s;
}

.rey-btn {
  border: 2px solid #00b8b87c;
  padding: 10px 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: 700;
  border-radius: 50px;
  transition: all 0.3s;
}

.arrow-down{
  margin-top: 150px;
}

.arrow-btn{
  position: relative;
  z-index: 2;
}

.icon{
  font-size: 36px;
}

.contact{
  background: rgba(107, 113, 119, 0.342);
}

button#back-to-top{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

footer a{
  text-decoration: none;
}




/* EXPLORE PAGE ________________________________________________________________________________________ */

.menu-icon{
  font-size: 28px;
  padding-right: 10px;;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

/* offcanvas  */

.offcanvas-socials{
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.list-group-item {
  border: none;
  font-size: 20px;

}



.offcanvas-logo{
  text-decoration: line-through;
  color:rgb(205, 212, 235)
}

/* search input  */
input[type="text"]{
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #645979;
}

ul{
  list-style: none;
}

.list{
  position: absolute;
  width: 272px;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
}

.list-items{
  padding: 10px 0px;
  left: -20px;
}

.list-items:hover{
  background-color: #dddddd;
}

/* card styles  */

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* position: relative; */


}
#profileCards {
  margin: 0 auto;
}

.explore-page .card{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 270px;
  height: 290px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.25s;
  margin: 15px;
}



.explore-page .card .imgBx{
  top: 20px;
  left: 15px;
  position: absolute;
  width: 240px;
  height: 220px;
  background: #333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 auto;
}

.explore-page .card:hover .imgBx{
  top: -67px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.explore-page .card:hover{
  z-index: 101;
}

.explore-page .card .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.explore-page .card .content{
  position: absolute;
  top: 252px;
  width: 100%;
  padding: 0 30px;
  text-align: center;
  height: 33px;
  overflow: hidden;
  transition: 0.5s;
}

.explore-page .card:hover .content{
  height: 135px;
  top: 130px;
}

.explore-page .card .content h3{
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
}

.explore-page .card .content p{
  margin-bottom: 10px;
}

.explore-page .card .content .socials{
  margin: 20px 0;
}



.filter-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.filter-wrapper i {
  margin-right: 20px;
}

.custom-dropdown {
  max-width: 200px;
  max-height: 200px;
  overflow-y: auto;
}

.custom-dropdown option {
  font-size: 14px;
  padding: 5px 10px;
}

.filter-container {
  position: sticky;
  top: 15px;
  z-index: 102;
  padding: 55px 0 0 0;
}


@media (max-width: 767px) {

  .home{
    background-image: url('../assets/images/hf2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  .custom-input {
    width: 180px;
    padding: 0.25rem;
    font-size: 0.875rem;
  }
  .list{
    width: 220px;
  }
}

@media (max-width: 402px) {
  .custom-input {
    width: 100px;
  }
}

@media (min-width: 576px) {
  /* Medium screens and above (SM and MD) */
  .mySwiper {
      height: 50vh;
  }
}

@media (max-width: 575.98px) {
  /* Small screens (XS) */
  .mySwiper {
      height: 50vh;
  }

  button#back-to-top{
    bottom: 57px;
  }
}

@media(max-width: 361px){
  .filter-container {
    padding: 85px 0 0 0;
  }
}
