body{
  background-image: url('./background.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

.home{
  background-image: url('./wall.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.home::before {
  content: "";
  background-color: rgba(26, 20, 109, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.quote-section {
  background-color: rgba(26, 20, 109, 0.3);/* Set desired background color */
  padding: 50px 0; /* Adjust padding as needed */
  text-align: center;
}

/* Centered quote text */
.quote-text {
  font-size: 24px;
  margin: 0 auto; /* Center the text horizontally */
  max-width: 800px; /* Limit the maximum width of the quote text */
}

/* explore section  */

.carousel-inner img {
  max-width: 700px; /* Set the maximum width to 700px */
  width: 100%;
  display: block; /* Ensures the image is a block-level element for centering */
  margin: 0 auto; /* Center the image horizontally */
}

.carousel-indicators li {
  color: transparent/* Hide the number text */
}

.carousel-indicators {
  bottom: -20px; /* Adjust the negative value to move the indicators down as needed */
}

#explore{
  border-bottom: 1px solid red;
}
