body{
  background-image: url('./background.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

.home{
  background-image: url('./wall.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.home::before {
  content: "";
  background-color: rgba(26, 20, 109, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

